
/* =========================== backtop start ================================= */
@charset "utf-8";
.backTop {
	width: 64px;
	height: 64px;
	background: url(../images/backtops.ico) no-repeat center center;
	position: absolute;
	right: 1%;
	top: 0;
	cursor: pointer;
	z-index: 9999999999;
	transform: rotate(-10deg);
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	display: none;
}

.backTop:hover {
	transform: rotate(0deg);
	-webkit-transform: rotate(0deg);
	-moz-transform: rotate(0deg);
}